{% set header = site.get('/header') %}
<!-- BEGIN [Header] ----------------------------------------------------------------->
<header class="hero {{ header.hero_css }}">
    <div class="hero-body">
        <div class="columns">
            <div class="column is-1"></div> <!-- padding -->

            <div class="column is-half">
                <h1 class="title">{{ header.title }}</h1>
                <h2 class="subtitle">{{ header.subtitle }}</h2>
            </div>
            <div class="column has-text-right">
                <a class="button {{ header.button_css }}" href="{{ header.button_url }}">{{ header.button_txt }}</a>
            </div>

            <div class="column is-1"></div> <!-- padding -->
        </div>
    </div>
</header>
<!-- END [Header] ----------------------------------------------------------------->
